.centro {
   
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.fundo {
    background-color: white; 
}

.forma_redonda {
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 25px;
}
.titulo {
    padding: 5px;
    background-color: #d41822;
    text-align: center;
    color: #fff;
    border-radius: 12px;
}





html {
    background-image: url('../img/bg.jpg');
}